* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background: #ffffff;
    font-family: "Playfair Display", serif;
    color: #222;
}

header {
    background: #1f1f1f;
    padding: 40px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

nav li {
    color: white;
    font-size: 2.8rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding-bottom: 6px;
    transition: 0.3s;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li.active {
    font-size: 3rem;
    font-weight: 700;
}

nav li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    margin: auto;
}

@media (max-width: 900px) {

    header {
        padding: 28px 0;
    }

    nav ul {
        gap: 45px;
    }

    nav li {
        font-size: 2rem;
    }

    nav li.active {
        font-size: 2.3rem;
    }
}

@media (max-width: 600px) {

    nav ul {
        gap: 25px;
    }

    nav li {
        font-size: 1.55rem;
        letter-spacing: 0.3px;
    }

    nav li.active {
        font-size: 1.75rem;
    }
}

.contato-hero {
    background-image: url('./images/Gemini_Generated_Image_onshd9onshd9onsh 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 90vh;

    display: flex;
    align-items: center;
    padding: 50px 10%;
}

.form-container {
    background-color: rgba(60, 52, 45, 0.95);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 480px;
    color: #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.form-container h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 0.95rem;
    margin-bottom: 25px;
    opacity: 0.8;
}

.input-group { margin-bottom: 15px; }

.input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 6px;
    font-weight: 600;
}

input,
select,
textarea {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #b0a59e;
    color: #222;
    font-size: 1rem;
}

.btn-enviar {
    display: block;
    width: 100%;
    margin-top: 25px;
    background-color: #3e6b46;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #2e5234;
    transform: scale(1.02);
}

@media (max-width: 768px) {

    .contato-hero {
        padding: 40px 20px;
        justify-content: center;
    }

    .form-container {
        padding: 28px 22px;
    }

    .form-container h1 {
        font-size: 1.8rem;
    }
}


footer {
    background: #e0e0e0;
    text-align: center;
    padding: 30px 0;
    font-size: 1rem;
    color: #444;
}