* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: "Playfair Display", serif;
    color: #222;
}

header {
    background: #1f1f1f;
    padding: 40px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li {
    color: white;
    font-size: 2.8rem;
    cursor: pointer;
    padding-bottom: 6px;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

nav li.active {
    font-size: 3rem;
    font-weight: 700;
}
.about-section {
    padding: 60px 20px;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.photo img {
    width: 100%;
    max-width: 430px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 15px 35px rgba(0,0,0,0.28);
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    font-size: 2.7rem;
    margin-bottom: 25px;
}

.about-text p {
    margin-bottom: 18px;
    font-size: 1.25rem;
    line-height: 1.6;
    color: #444;
}

footer {
    background: #e0e0e0;
    text-align: center;
    padding: 30px 0;
    font-size: 1rem;
    color: #444;
}

@media (max-width: 900px) {
    nav ul {
        gap: 40px;
    }

    nav li {
        font-size: 2rem;
    }

    nav li.active {
        font-size: 2.3rem;
    }
}

@media (max-width: 760px) {

    .container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .about-text h1 {
        font-size: 2.2rem;
    }

    .about-text p {
        font-size: 1.1rem;
    }

    .photo img {
        max-width: 350px;
    }
}

@media (max-width: 520px) {

    nav ul {
        gap: 22px;
    }

    nav li {
        font-size: 1.45rem;
    }

    nav li.active {
        font-size: 1.65rem;
    }

    .about-text h1 {
        font-size: 1.8rem;
    }
}

.social-section {
    background-color: #1f1f1f; /* Mesma cor do Header */
    padding: 50px 20px;
    color: white;
}

.social-container {
    max-width: 800px; /* Largura controlada para ficar elegante */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px; /* Espaço entre a linha do Insta e do Whats */
}


.social-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem; /* Tamanho da fonte */
}

.social-left {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 160px; /* Garante alinhamento */
}


.social-icon {
    width: 30px;  /* Tamanho do ícone */
    height: 30px;
    object-fit: contain;
   
}

.social-line {
    flex-grow: 1; 
    height: 2px;
    background-color: white;
    margin: 0 30px;
    opacity: 0.8;
}


.social-right {
    min-width: 150px;
    text-align: right;
}

@media (max-width: 700px) {
    .social-row {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding-bottom: 30px;
    }

    
    .social-line {
        display: none;
    }

    .social-left {
        justify-content: center; 
        width: 100%;
    }

    .social-right {
        text-align: center; 
        font-weight: 700; 
        color: #ddd;
    }
}